extends ./maintemplate.jade

block vars
  - var title = 'login'
block nav
  
block content
  
    .container
      // Main component for a primary marketing message or call to action
      form.form-signin(method="post")
        h2.form-signin-heading Please sign in
        if error
          p ERROR: #{error}
        input(type="hidden", name="_csrf", value=csrfToken)
        label.sr-only(for='inputEmail') Email address
        input#inputEmail.form-control(type='email', placeholder='Email address',name="email" required='', autofocus='')
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(type='password', placeholder='Password',name="password" required='')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
