extends ./projectNavigation.jade

block vars
  - var title = 'Project Dashboard'

block content
    .container
      // Main component for a primary marketing message or call to action

      h1 Upload RFI

      if error
        p ERROR: #{error}
      form.col-sm-6(method="post", enctype="multipart/form-data")
        
        
        feildset.formgroup
          label.m-t-2(for="documentType") Document Type:
          select.form-control(name='documentType')
            option(value="submittal") Submittal
            option(value="rfi") RFI
            option(value="other") Other
        
        feildset.formgroup
          label(for="documentName") Document Name: 
          input.form-control(type="text", name="documentName", required=true)
        

        feildset.formgroup
          label(for="documentSubject") Document Description: 
          input.form-control(type="text", name="documentSubject", required=true)
      
        feildset.formgroup
          label(for="upl") File Upload
          input.form-control-file(type="file" name="upl")
          small.text-muted Upload Submittal Documents Here
          br
      
        button.btn.btn-primary.m-t-1(type="submit") Submit
 
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
