extends ./projectNavigation.jade

block vars
  - var title = 'Project Dashboard'

block content
    .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        h1 Upload RFI

        if error
          p ERROR: #{error}
        form(method="post", enctype="multipart/form-data")
          
          
          Span Document Type
          select(name='documentType')
              option(value="submittal") Submittal
              option(value="rfi") RFI
              option(value="other") Other
          br
          span Document Name: 
          input(type="text", name="documentName", required=true)
          br

          span Document Description: 
          input(type="text", name="documentSubject", required=true)
          br
          
          input(type="file" name="upl")

        
          input(type="submit")

    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
