extends ./adminTemplate.jade

block vars

  - var title = 'Create Project'

block content
  .container
    // Main component for a primary marketing message or call to action
    .jumbotron
      h1 #{status}
      a(href=link) Submit Another
